@model RollerTest.Domain.Entities.RollerSampleInfo

@{
    ViewBag.Title = "EditSample";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" class="form-horizontal" action="~/Sample/EditSample">
                        @Html.HiddenFor(x => x.RollerSampleInfoID)
                        @Html.HiddenFor(x=>x.RollerProjectInfoID)
                        @Html.HiddenFor(x=>x.state)
                        <div class="form-group">
                            <label class="col-sm-2 control-label">样品编号</label>

                            <div class="col-sm-9">@Html.EditorFor(x => x.SampleID)</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">样品名称</label>

                            <div class="col-sm-9">@Html.EditorFor(x => x.SampleName)</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">工位</label>

                            <div class="col-sm-10">@Html.DropDownListFor(x => x.RollerBaseStationID, ViewData["StationList"] as IEnumerable<SelectListItem>, "--------------------------------------请选择-------------------------------------")</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">上限值</label>
                            <div class="col-sm-9">@Html.EditorFor(x => x.UpLimit)</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">下限值</label>
                            <div class="col-sm-9">@Html.EditorFor(x => x.DnLimit)</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">设定值</label>
                            <div class="col-sm-9">@Html.EditorFor(x => x.SetValue)</div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="col-lg-offset-5">
                            <input class="btn btn-primary" type="submit" value="提交" />
                            @*@Html.ActionLink("返回", "Index", "Sample")*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
}

