@model RollerTest.Domain.Entities.RollerRecordInfo

@{
    ViewBag.Title = "EditSampleTestingRecord";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" class="form-horizontal" action="~/SampleTestingRecord/EditSampleTestingRecord">
                        
                        @Html.HiddenFor(x => x.RollerRecordInfoID)
                        @Html.HiddenFor(x => x.RollerSampleInfoID)
                        @Html.HiddenFor(x => x.CurrentTime)
                        @Html.HiddenFor(x => x.TotalTime)
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">样品编号</label>
                            <label class="col-sm-1 control-label">@ViewData["SampleID"]</label>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-offset-1 col-sm-2 control-label">样品状态</label>
                            <div class="col-sm-1 radio-primary media-middle">
                                @Html.RadioButtonFor(x => x.SampleStatus, true, new { @id = "radio1", @name = "rdolstState" })正常    
                            </div>
                            <div class="col-sm-1 radio-primary aligncenter">
                                @Html.RadioButtonFor(x => x.SampleStatus, false, new { @id = "radio2", @name = "rdolstState" })异常
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">样品信息</label>
                            <div class="col-sm-8">@Html.EditorFor(x => x.RecordInfo)</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-lg-offset-2">@Html.ValidationMessageFor(x => x.RecordInfo)</div>
                            </div>
                        <div class="col-lg-offset-5">
                            <input class="btn btn-primary" type="submit" value="提交" />
                            @*@Html.ActionLink("返回", "Index", "Sample")*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

