@model RollerTest.WebUI.Models.ControlBlockViewModel
@{
    ViewBag.Title = "Index";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>控制面板</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">主页</a>
            </li>
            <li>
                <a>控制面板</a>
            </li>
            <li class="active">
                <strong>控制参数</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>读写控制</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div>
                    <p><strong>后台数据</strong></p>
                    <p>
                        <div class="col-lg-6">
                            <ul class="list-group clear-list m-t">
                                <li class="list-group-item fist-item">
                                    <span id="time-1#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime1&nbsp;
                                    </span>
                                    <span class="label label-success">1</span> 1#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-2#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime2&nbsp;
                                    </span>
                                    <span class="label label-info">2</span> 2#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-3#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime3&nbsp;
                                    </span>
                                    <span class="label label-primary">3</span> 3#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-4#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime4&nbsp;
                                    </span>
                                    <span class="label label-default">4</span> 4#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-5#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime5&nbsp;
                                    </span>
                                    <span class="label label-primary">5</span> 5#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-6#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime6&nbsp;
                                    </span>
                                    <span class="label label-info">6</span> 6#试验滚轮
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-group clear-list m-t">
                                <li class="list-group-item fist-item">
                                    <span id="time-7#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime7&nbsp;
                                    </span>
                                    <span class="label label-success">7</span> 7#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-8#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime8&nbsp;
                                    </span>
                                    <span class="label label-info">8</span> 8#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-9#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime9&nbsp;
                                    </span>
                                    <span class="label label-primary">9</span> 9#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-10#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime10&nbsp;
                                    </span>
                                    <span class="label label-default">A</span> 10#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-11#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime11&nbsp;
                                    </span>
                                    <span class="label label-primary">B</span> 11#试验滚轮
                                </li>
                                <li class="list-group-item">
                                    <span id="time-12#" class="pull-right">
                                    </span>
                                    <span class="pull-right">
                                        后台:@Model.readiniModel.TestTime12&nbsp;
                                    </span>
                                    <span class="label label-info">C</span> 12#试验滚轮
                                </li>
                            </ul>
                        </div>
                    </p>
                </div>
                <div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>写入与计时服务</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <strong>写入状态:</strong> @ViewData["FileTimerState"]<br>
                                            <small class="text-muted">开启后，将向服务器写入累计时间。</small>
                                            <div class="pull-right">
                                                <a href="~/ControlBlock/FileOpenTimer"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="开启" /></a>
                                                <a href="~/ControlBlock/FileCloseTimer"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="关闭" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <strong>计时状态：</strong> @ViewData["TimerTimerState"] <br>
                                            <small class="text-muted">开启后，累计时间计时服务将开启。</small>
                                            <div class="pull-right">
                                                <a href="~/ControlBlock/TimerOpenTimer"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="开启" /></a>
                                                <a href="~/ControlBlock/TimerCloseTimer"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="关闭" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                                     
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>电机控制</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div
                     
                     >
                    <div class="ibox-title">
                        <h5>初始化状态:</h5>
                        <div class="ibox-tools">
                            <span class="label label-info">@ViewData["CdioInitState"]</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>监视状态:</h5>
                            <div class="ibox-tools">
                                <span class="label label-warning-light">@ViewData["CdioTimerState"]</span>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <div class="feed-activity-list">
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <strong>王 欢</strong> 提示 <br>
                                            <small class="text-muted">点击开启后，将开启后台任务，实施监控电机状态。</small>
                                            <div class="pull-right">
                                                <a href="~/ControlBlock/CdioOpenTimer"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="开启" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="feed-element">
                                        <div class="media-body ">
                                            <strong>王 欢</strong> 提示 <br>
                                            <small class="text-muted">点击关闭后，将关闭后台任务，停止实施监控电机状态。</small>
                                            <div class="pull-right">
                                                <a href="~/ControlBlock/CdioCloseTimer"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="关闭" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var time = $.connection.timeHub;
            time.client.addNewTimeToPage = function (station, time) {
                x1 = document.getElementById("time-1#");
                x2 = document.getElementById("time-2#");
                x3 = document.getElementById("time-3#");
                x4 = document.getElementById("time-4#");
                x5 = document.getElementById("time-5#");
                x6 = document.getElementById("time-6#");
                x7 = document.getElementById("time-7#");
                x8 = document.getElementById("time-8#");
                x9 = document.getElementById("time-9#");
                x10 = document.getElementById("time-10#");
                x11 = document.getElementById("time-11#");
                x12 = document.getElementById("time-12#");
                switch (station) {
                    case "1#": x1.innerHTML ="计时:"+time; break;
                    case "2#": x2.innerHTML = "计时:" + time; break;
                    case "3#": x3.innerHTML = "计时:" + time; break;
                    case "4#": x4.innerHTML = "计时:" + time; break;
                    case "5#": x5.innerHTML = "计时:" + time; break;
                    case "6#": x6.innerHTML = "计时:" + time; break;
                    case "7#": x7.innerHTML = "计时:" + time; break;
                    case "8#": x8.innerHTML = "计时:" + time; break;
                    case "9#": x9.innerHTML = "计时:" + time; break;
                    case "10#": x10.innerHTML = "计时:" + time; break;
                    case "11#": x11.innerHTML = "计时:" + time; break;
                    case "12#": x12.innerHTML = "计时:" + time; break;
                }
            }
            $.connection.hub.start().done();


        })

    </script>



}