@model RollerTest.Domain.Entities.ReadIniModel

<div class="col-lg-6">
    <ul class="list-group clear-list m-t">
        <li class="list-group-item fist-item">
            <span class="pull-right">
                @Model.TestTime1.ToString()
            </span>
            <span class="label label-success">1</span> 1#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime2.ToString()
            </span>
            <span class="label label-info">2</span> 2#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime3.ToString()
            </span>
            <span class="label label-primary">3</span> 3#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime4.ToString()
            </span>
            <span class="label label-default">4</span> 4#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime5.ToString()
            </span>
            <span class="label label-primary">5</span> 5#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime6.ToString()
            </span>
            <span class="label label-info">6</span> 6#试验滚轮
        </li>
    </ul>
</div>
<div class="col-lg-6">
    <ul class="list-group clear-list m-t">
        <li class="list-group-item fist-item">
            <span class="pull-right">
                @Model.TestTime7.ToString()
            </span>
            <span class="label label-success">7</span> 7#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime8.ToString()
            </span>
            <span class="label label-info">8</span> 8#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime9.ToString()
            </span>
            <span class="label label-primary">9</span> 9#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime10.ToString()
            </span>
            <span class="label label-default">A</span> 10#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime11.ToString()
            </span>
            <span class="label label-primary">B</span> 11#试验滚轮
        </li>
        <li class="list-group-item">
            <span class="pull-right">
                @Model.TestTime12.ToString()
            </span>
            <span class="label label-info">C</span> 12#试验滚轮
        </li>
    </ul>
</div>

