@model RollerTest.WebUI.Models.TestListViewModel

@{
    ViewBag.Title = "Index";
    int i = 1;
}

@foreach (var p in Model.rollersampleinfos)
{
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-3">
            <h2>@p.SampleID</h2>
            <small>@p.SampleName</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                    <span class="pull-right">
                        @p.RollerProjectInfo.TestCondition
                    </span>
                    <span class="label label-success">1</span>试验条件
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.RollerBaseStation.Station
                    </span>
                    <span class="label label-info">2</span> 工位
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.UpLimit
                    </span>
                    <span class="label label-primary">3</span> 上限值
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.DnLimit
                    </span>
                    <span class="label label-default">4</span> 下限值
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.SetValue
                    </span>
                    <span class="label label-primary">5</span> 设定值
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Live Chart Example</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @*<div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart"></div>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-A-@i"> <i class="fa fa-laptop">数据</i></a></li>
                        <li class=""><a data-toggle="tab" href="#tab-C-@i"><i class="fa fa-exchange">过程</i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-A-@i" class="tab-pane active">
                            <div class="panel-body">
                                <div class="ibox-content">
                                    <div>
                                        <div class="feed-activity-list">
                                            <div class="feed-element">
                                                <div class="media-body">
                                                    <small>Time</small>
                                                    <h1 id="time-@p.RollerBaseStation.Station" class="no-margins"></h1>
                                                    <div class="pull-right">
                                                        <div>
                                                            @Html.ActionLink("开启", "OpenTimer", new { StationId = p.RollerBaseStationID }, new { @class = "btn btn-xs btn-white fa fa-thumbs-up" })
                                                            @Html.ActionLink("暂停", "PauseTimer", new { StationId = p.RollerBaseStationID }, new { @class = "btn btn-xs btn-white fa fa-thumbs-up" })
                                                            @Html.ActionLink("清零", "CleanTimer", new { StationId = p.RollerBaseStationID }, new { @class = "btn btn-xs btn-white fa fa-thumbs-up" })
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <div class="media-body">
                                                    <small>Force</small>
                                                    <h1 id="data-@p.RollerBaseStation.Station" class="no-margins"></h1>
                                                    </div>
                                                </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                        </div>
                        <div id="tab-C-@i" class="tab-pane">
                            <div class="panel-body">
                                <ul class="list-group clear-list m-t">
                                    <li class="list-group-item fist-item">
                                        <span class="pull-right">
                                            @Html.ActionLink("Click", "OpenTest", new { StationId = p.RollerBaseStationID }, new { @class = "btn btn-xs btn-white" })
                                        </span>
                                        <span class="label label-success">1</span>开启试验
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            @Html.ActionLink("Click", "Index", new { Controller="SampleTestingRecord", RollerSampleInfoId = p.RollerSampleInfoID }, new { @class = "btn btn-xs btn-white" })
                                        </span>
                                        <span class="label label-info">2</span> 中间过程
                                    </li>
                                    <li class="list-group-item">
                                        <span class="pull-right">
                                            @Html.ActionLink("Click", "CloseTest", new { StationId = p.RollerBaseStationID }, new { @class = "btn btn-xs btn-white" })
                                        </span>
                                        <span class="label label-primary">3</span> 结束试验
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    i++;
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var time = $.connection.timeHub;
            var data = $.connection.dataHub;
            time.client.addNewTimeToPage = function (station, time) {
                x1 = document.getElementById("time-1#");
                x2 = document.getElementById("time-2#");
                x3 = document.getElementById("time-3#");
                x4 = document.getElementById("time-4#");
                x5 = document.getElementById("time-5#");
                x6 = document.getElementById("time-6#");
                x7 = document.getElementById("time-7#");
                x8 = document.getElementById("time-8#");
                x9 = document.getElementById("time-9#");
                x10 = document.getElementById("time-10#");
                x11 = document.getElementById("time-11#");
                x12 = document.getElementById("time-12#");
                switch (station) {
                    case "1#": x1.innerHTML =time; break;
                    case "2#": x2.innerHTML = time; break;
                    case "3#": x3.innerHTML = time; break;
                    case "4#": x4.innerHTML = time; break;
                    case "5#": x5.innerHTML = time; break;
                    case "6#": x6.innerHTML = time; break;
                    case "7#": x7.innerHTML = time; break;
                    case "8#": x8.innerHTML = time; break;
                    case "9#": x9.innerHTML = time; break;
                    case "10#": x10.innerHTML = time; break;
                    case "11#": x11.innerHTML = time; break;
                    case "12#": x12.innerHTML = time; break;
                }
            }
            data.client.addNewDataToPage = function (station, data) {
                y1 = document.getElementById("data-1#");
                y2 = document.getElementById("data-2#");
                y3 = document.getElementById("data-3#");
                y4 = document.getElementById("data-4#");
                y5 = document.getElementById("data-5#");
                y6 = document.getElementById("data-6#");
                y7 = document.getElementById("data-7#");
                y8 = document.getElementById("data-8#");
                y9 = document.getElementById("data-9#");
                y10 = document.getElementById("data-10#");
                y11 = document.getElementById("data-11#");
                y12 = document.getElementById("data-12#");

                switch (station) {
                    case "AI1-1-01": y1.innerHTML = data+"N"; break;
                    case "AI1-1-02": y2.innerHTML = data + "N"; break;
                    case "AI1-1-03": y3.innerHTML = data + "N"; break;
                    case "AI1-1-04": y4.innerHTML = data + "N"; break;
                    case "AI1-1-05": y5.innerHTML = data + "N"; break;
                    case "AI1-1-06": y6.innerHTML = data + "N"; break;
                    case "AI1-1-07": y7.innerHTML = data + "N"; break;
                    case "AI1-1-08": y8.innerHTML = data + "N"; break;
                    case "AI1-1-09": y9.innerHTML = data + "N"; break;
                    case "AI1-1-10": y10.innerHTML = data + "N"; break;
                    case "AI1-1-11": y11.innerHTML = data + "N"; break;
                    case "AI1-1-12": y12.innerHTML = data + "N"; break;

                }
            }
            $.connection.hub.start().done();


        })

    </script>



}