@model RollerTest.WebUI.Models.TestListViewModel

@{
    ViewBag.Title = "Index";
    int i = 1;
}

@foreach (var p in Model.rollersampleinfos)
{
    <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-3">
            <h2>@p.SampleID</h2>
            <small>@p.SampleName</small>
            <ul class="list-group clear-list m-t">
                <li class="list-group-item fist-item">
                    <span class="pull-right">
                        @p.RollerProjectInfo.TestCondition
                    </span>
                    <span class="label label-success">1</span>试验条件
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.RollerBaseStation.Station
                    </span>
                    <span class="label label-info">2</span> 工位
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.UpLimit
                    </span>
                    <span class="label label-primary">3</span> 上限值
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.DnLimit
                    </span>
                    <span class="label label-default">4</span> 下限值
                </li>
                <li class="list-group-item">
                    <span class="pull-right">
                        @p.SetValue
                    </span>
                    <span class="label label-primary">5</span> 设定值
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Live Chart Example</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @*@{Html.RenderAction("RealtimeAction","TestBlock",new {RollerSampleInfoId=p.RollerSampleInfoID})}*@
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-A-@i"> <i class="fa fa-laptop">数据</i></a></li>
                        <li class=""><a data-toggle="tab" href="#tab-B-@i"><i class="fa fa-desktop">试验</i></a></li>
                        <li class=""><a data-toggle="tab" href="#tab-C-@i"><i class="fa fa-database">记录</i></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-A-@i" class="tab-pane active">
                            <div class="panel-body">
                                <div class="ibox-content">
                                    <div>
                                        <div class="feed-activity-list">
                                            <div class="feed-element">
                                                <div class="media-body">
                                                    <small>Time</small>
                                                    <h1 class="no-margins">12:30:59</h1>
                                                    <div class="pull-right">
                                                        <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="开启" /></a>
                                                        <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="关闭" /></a>
                                                        <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="清零" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="feed-element">
                                                <div class="media-body">
                                                    <small>Force</small>
                                                    <h1 class="no-margins">106,120N</h1>
                                                    </div>
                                                </div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                        </div>
                        <div id="tab-B-@i" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>试验状态:</h5>
                                        <div class="ibox-tools">
                                            <span class="label label-warning-light">开启</span>
                                        </div>
                                    </div>
                                    <div class="ibox-content">
                                        <div>
                                            <div class="feed-activity-list">
                                                <div class="feed-element">
                                                    <div class="media-body ">
                                                        <strong>王 欢</strong> 提示 <br>
                                                        <small class="text-muted">点击开启后，将开启后台试验任务。</small>
                                                        <div class="pull-right">
                                                            <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="开启" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <div class="media-body ">
                                                        <strong>王 欢</strong> 提示 <br>
                                                        <small class="text-muted">点击关闭后，将关闭后台试验任务。</small>
                                                        <div class="pull-right">
                                                            <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="关闭" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-C-@i" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>试验记录</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div>
                                            <div class="feed-activity-list">
                                                <div class="feed-element">
                                                    <div class="media-body ">
                                                        <strong>王 欢</strong> 提示 <br>
                                                        <small class="text-muted">点击填写试验前及试验后状态判断。</small>
                                                        <div class="pull-right">
                                                            <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="样品判断" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feed-element">
                                                    <div class="media-body ">
                                                        <strong>王 欢</strong> 提示 <br>
                                                        <small class="text-muted">点击填写中间过程试验记录。</small>
                                                        <div class="pull-right">
                                                            <a href="#"><input type="button" class="btn btn-xs btn-white fa fa-thumbs-up" value="中间过程" /></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </div>
    i++;
}

