@model RollerTest.WebUI.Models.UserRolesViewModel

@{
    ViewBag.Title = "UserRolesIndex";
    int i = 1;
}

<h2>用户权限</h2>
<div class="container col-lg-8">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td align="center">序号</td>
                <td align="center">角色编号</td>
                <td align="center">角色名称</td>
                <td align="center">操作</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.UserRoles)
            {
                <tr>
                    <td width="5%">@i</td>
                    <td width="41%">@p.RoleId</td>
                    <td width="40%">@Model.Roles.FirstOrDefault(x => x.Id == p.RoleId).Name.ToString()</td>
                    <td width="6%">
                        @using (Html.BeginForm("DeleteUserRoles", "UserRole"))
                        {
                            @Html.Hidden("userId", @ViewData["userId"])
                            @Html.Hidden("roleName", @Model.Roles.FirstOrDefault(x => x.Id == p.RoleId).Name.ToString())
                            <button class="btn btn-white btn-sm" type="submit">删除</button>
                        }
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
    <div>
        <form action="/UserRole/CreateUserRole" method="post">
            <input type="text" name="userid" class="text-box hidden" value="@ViewData["userId"]">
            @Html.DropDownList("rolename", ViewData["RoleList"] as IEnumerable<SelectListItem>, "----请选择----")
            <input type="submit" class="btn btn-default" value="提交">
        </form>
    </div>
    <div>
        @using (Html.BeginForm("ClearUserRoles", "UserRole"))
        {
            @Html.Hidden("userId", @ViewData["userId"])
            <button class="btn btn-default" type="submit">清空</button>
        }
    </div>

</div>

