<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                @Html.Action("LoginName","UserRole")
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Sample")">
                <a href="@Url.Action("Index", "Sample")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.layouts">项目面板</span> <span class="label label-warning pull-right">16/24</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "ControlBlock")">
                <a href="@Url.Action("Index", "ControlBlock")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">控制面板</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "TestBlock")">
                <a href="@Url.Action("Index", "TestBlock")"><i class="fa fa-desktop"></i> <span class="nav-label" data-i18n="nav.layouts">试验面板</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Hangfire")">
                <a href="~/Hangfire"><i class="fa fa-tasks"></i> <span class="nav-label" data-i18n="nav.layouts">HANGFIRE</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Admin")">
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label" data-i18n="nav.gallery">基础库</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Admin", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "RollerBaseConditions")">试验条件</a></li>
                    <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "RollerBaseLocations")">试验地点</a></li>
                    <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "RollerBaseStations")">试验装置</a></li>
                    <li class="@Html.IsSelected(action: "index")"><a href="@Url.Action("index", "RollerBaseStandards")">试验标准</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "UserRole")">
                <a href="#"><i class="fa fa-apple"></i> <span class="nav-label" data-i18n="nav.gallery">权限管理</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "UserRole", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "RoleIndex")"><a href="@Url.Action("RoleIndex", "UserRole")">角色管理</a></li>
                    <li class="@Html.IsSelected(action: "UserIndex")"><a href="@Url.Action("UserIndex", "UserRole")">用户管理</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>